body {
  background-color: rgb(173, 216, 230);
}

h1{
  color: rgb(99, 51, 143);
}
.form-container {
  margin-top: 50px;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  height: 70vh;
  }

.border-selection {
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(25, 24, 53);
}

.buttom-send {
  margin-top: 15px;
  margin-left: 35%;
  padding: 10px 20px;
  background-color: rgb(25, 24, 53);
  color: white;
  border: none;
  cursor: pointer;
}

label, input {
  margin-left: 20%;
  margin-bottom: 8px;
  display: block;
  }

label {
  font-weight: bold;}

input{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}